.DS_Store
.git/
.vscode/
.circleci/
.githooks/
cmd/
configs/jwks/
docs/
node_modules/
scripts/
test/
tmp/
web/public/vendor
web/public/css/*.css
web/public/css/*.css.*
web/public/css/*.min.css
web/public/js/*.min.js
web/public/js/*.min.js.*
.config.local.sample.json
.config.sample.yml
.editorconfig
.env
.eslintrc.json
.gitignore
.goreman
.tool-versions
CHANGELOG.md
docker-compose.yml
Dockerfile
*.log
Procfile
README.md
