.DS_Store
.git
.vscode
.githooks
docs
node_modules
scripts
web/public/vendor
web/public/css/*.css
web/public/js/*.min.js
.config.local.sample.json
.config.sample.yml
.config.travis.json
.editorconfig
.env
.gitignore
.tool-versions
.travis.yml
docker-compose.yml
Dockerfile
c.out
coverage.html
coverage.txt
*.log
