.DS_Store
.vscode/
cmd/
configs/jwks/*
!configs/jwks/.gitkeep
node_modules/
tmp/
vendor/
web/public/css/*.css
web/public/css/*.css.*
web/public/css/*.min.css
web/public/js/*.min.js
web/public/js/*.min.js.*
.config.local.json
.config.yml
*.log
Godeps/*
!Godeps/Godeps.json
package-lock.json
