.DS_Store
.vscode
c.out
.config.yml
.config.local.json
coverage.html
coverage.txt
*.log

vendor
Godeps/*
!Godeps/Godeps.json

node_modules
web/public/css/*.css*
web/public/js/*.min.js*
!web/public/vendor
package-lock.json
