@import "normalize";

@import "foundation";
@include foundation-everything;

body {
  background: #fff;
  color: #272727;
  font-family: Raleway, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 400;
}
dl, ol, ul, a, p {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
a:focus, a:hover, a.active {
  color: #007095;
}
p {
  a {
    color: #007095;

    &:hover {
      text-decoration: underline;
    }
  }
}
label {
  color: inherit;
}

@import "over-foundation";
@import "layout";
