html {
  height: 100%;
}
body {
  min-height: 100%;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.site-header {
  padding: 20px 0;
}
.branding {
  text-align: center;
  font-weight: 100;
  font-size: 4rem;
}
.content {
  flex: 1;
}
.site-footer {
  padding: 15px 0;
  font-weight: 300;
  font-size: 0.9rem;
  width: 90%;

  p {
    margin-bottom: 4px;

    a:hover {
      text-decoration: none;
    }
  }
}
.breadcrumbs-custom,
.row .row.breadcrumbs-custom {
  margin: 0 0 25px;
  padding: 0.4625rem 0 0.4625rem 1rem;
  border: none;
  border-left: 3px solid #fff;
  background: transparent;
  font-size: 0.9rem;
  font-weight: 100;

  ul {
    margin: 0;
    list-style: none;

    li {
      display: inline;
    }

    li ~ li:before {
      padding: 0 4px;
      content: ' > ';
    }
  }
}
.centered-message {
  padding-top: 20px;
  padding-bottom: 0;
}
.section-title {
  margin-bottom: 20px;
  font-weight: 300;
}
.separator {
  margin-bottom: 20px;

  form {
    margin-bottom: 30px;
  }
}
form {
  p.help {
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 0.8rem;
  }

  button {
    padding: 0.7rem 2rem 0.7625rem;

    & ~ button {
      margin-left: 20px;
    }
  }
}
.inline-list {
  list-style: none;

  > li {
    display: inline-block;
    padding: 0 5px;
  }
}
.inline-list.align-right {
  float: right;
  margin-right: 1.375rem;
  margin-left: 0;
}
button,.button {
  margin: 0;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  cursor: pointer;
  background-color: #2199e8;
  outline: 0;

  &.expand {
    width: 100%;
    padding: 0.8rem 1rem 0.8625rem;
  }
}
.side-nav {
  list-style: none;
}
.side-nav li a:not(.button) {
  color: inherit;
}
.side-nav li a:not(.button).active,
.side-nav li a:not(.button):focus,
.side-nav li a:not(.button):hover {
  color: #007095;
}
.button-anchor {
  color: #2199e8;
  background: transparent;
  padding: 0;
  border: 0;
  box-shadow: none;
}
.form-common {
  position: relative;

  label {
    text-transform: uppercase;
  }

  .select-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 0 0.75rem;

    &:after {
      content: '';
      position: absolute;
      top: 1.175em;
      right: 0.85em;
      cursor: pointer;
      -webkit-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      transition: 0.25s all ease;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #2199e8;
    }

    &:hover:after {
      color: #272727;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    position: relative;
    flex: 1;
    padding: 0.5em;
    display: flex;
    width: 19.3em;
    height: auto;
    line-height: 1.5;
    background: transparent;
    color: #272727;
    overflow: hidden;
    border-radius: 0.25em;
    border: 1px solid #2199e8;
    margin: 0;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
  }

  .error-message {
    position: absolute;
    top: -60px;
    width: 100%;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid rgba(255, 0, 0, 0.25);
    border-radius: 2px;
    color: rgba(255, 0, 0, 0.5);
  }

  .password-visibility {
    position: relative;

    .visibility-toggle {
      position: absolute;
      top: 2px;
      width: 35px;
      height: 35px;
      right: -35px;
      background: transparent;
      border: 0;
      padding: 4px 0 2px;
      box-shadow: none;
    }
  }
}
.error-illustration {
  text-align: center;
  padding: 40px 0;
}
.code-line {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}
.middle-box {
  position: relative;
  @media screen and (min-width: 600px) {
    max-width: 400px;
  }
  @media screen and (max-width: 600px) {
    max-width: 90%;
    background: transparent;
    box-shadow: none;
    color: #111;
    margin: 0 auto;
    padding: 25px 40px;
  }
  margin: 35px auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 40px 40px;
  min-height: 377px;

  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: -13px;
    display: block;
    width: 400px;
    height: 400px;
    border: 11.3262379px solid #272727;
    transform: rotate(11.32624deg);
    opacity: 0.1;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
.middle-box.plain {
  box-shadow: none;

  &:before {
    display: none;
  }
}
.success-box {
  display: flex;
  align-items: center;
  background: #05A054;
  color: #fff;
  text-align: center;
  cursor: default;

  .success-box-row {
    flex: 1;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
