{{ define "content" }}
<div id="application-context" class="authorize">
  <div class="row separator">
    <div class="large-offset-1 large-5 columns user">
      <h2>John Doe</h2>
    </div>
    <div class="large-5 columns end client">
      <h2>Application<br><small>(application.example.com)</small></h2>
    </div>
  </div>
  <div class="row separator">
    <div class="large-offset-2 large-8 end columns">
      <p>The application (Application) is requesting access to the following information:</p>
      <ul class="">
        <li>Authentication data for that given application</li>
        <li>Your profile data (including mobile phone number and e-mail, if they are provided)</li>
      </ul>
      <p>Application (the application) and Space (the current website) will use this information
      in accordance with their respective terms of service and privacy policies.</p>
    </div>
  </div>
  <div class="row separator">
    <div class="large-12 columns text-center">
      <form action="." method="post">
        <button class="secondary">Cancel</button>
        <button>Accept</button>
      </form>
    </div>
  </div>
</div>
{{ end }}

{{define "head"}}{{end}}{{define "front"}}{{end}}{{define "tail"}}{{end}}
