<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="charset", content="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500">
  <link rel="stylesheet" href="/public/vendor/font-awesome/css/font-awesome.min.css">
  {{ template "head" . }}
  <title>Space{{ .Title }}</title>
</head>
<body>
  {{ template "front" . }}
  <div role="main">
    <header class="site-header row">
      <div class="large-12 columns">
        <h1 class="branding"><a href="/">Space</a></h1>
      </div>
    </header>
    {{ template "content" . }}
    <footer class="site-footer row">
      <div class="medium-6 small-9 columns">
        <p>Space is an open source project part of the <a href="//quatrolabs.com">QuatroLabs</a>.</p>
      </div>
      <div class="medium-6 small-3 columns">
        <ul class="inline-list align-right">
          <li><a href="//quatrolabs.com/about" rel="external">#about</a></li>
        </ul>
      </div>
    </footer>
  </div>
  {{ template "tail" . }}
</body>
</html>
