<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="charset", content="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <link rel="icon" href="//cdn.quatrolabs.com/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  {{ template "head" . }}
  <title>Space{{ .Title }}</title>
</head>
<body>
  {{ template "front" . }}
  <div class="wrapper" role="main">
    <header class="site-header row">
      <div class="large-12 columns">
        <h1 class="branding"><a href="/">Space</a></h1>
      </div>
    </header>
    {{ template "content" . }}
    <footer class="site-footer row">
      <div class="medium-6 small-9 columns">
        <p>Space is part of the <a href="//quatrolabs.com">quatroLABS</a> projects.</p>
      </div>
      <div class="medium-6 small-3 columns">
        <ul class="inline-list align-right">{{ if not .Internal }}
          <li><a href="/signin">Sign in</a></li>{{ if .UserCreateEnabled }}
          <li><a href="/signup">Sign up</a></li>{{ end }}{{ end }}
          <li><a href="//quatrolabs.com/about" rel="external">#about</a></li>
        </ul>
      </div>
    </footer>
  </div>
  {{ template "tail" . }}
</body>
</html>
