{{ define "content" }}
<div class="content">
  <div class="centered-message">
    <div class="row">
      <div class="small-6 small-offset-3 end columns">
        <div class="error-illustration">
          <img width="300" src="/public/imgs/illustration.not_found.svg" />
        </div>
        <h2>Oh, crap</h2>
        <p>The resource you were looking for is not available.</p>
        <p>If you need help to get back to work, <a href="/">start from the home page</a> in the current website or
        <a href="#back" onclick="history.back();">get back to the previous page</a>.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/public/css/errors.css">
{{ end }}

{{define "front"}}{{end}}{{define "tail"}}{{end}}
