{{ define "content" }}
<div class="content">
  <div class="centered-message">
    <div class="row">
      <div class="small-6 small-offset-3 end columns">
        <div class="error-illustration">
          <img width="300" src="/public/imgs/illustration.cancel.svg" />
        </div>
        <h2>Oh, snap</h2>
        <p>The token to update your recovery code and secret code generator is not valid anymore. Please, you must request another token and try again.</p>
        <p>If you need help to get back to work, <a href="/">start from the home page</a>.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/public/css/errors.css">
{{ end }}

{{define "front"}}{{end}}{{define "tail"}}{{end}}
