{{ define "content" }}
<div class="content" id="application-context">
  <div class="centered-message">
    <div class="row">
      <div class="small-8 small-offset-2 end columns">
          <h2>Yay!</h2>
          <p>The recovery code and secret code generator were successfully recreated</p>
          <p>
              Following is the secret code generator for the sign-in process. Please add it to
              one-time password providers, like Enpass, Authy, 1Password, Google Authenticator,
              OTP Auth, etc. Please remember that two-factor authentication is a mandatory step
              in order to sign-in.
          </p>
          <p class="attention-points">
              <img src="data:image/png;base64,{{ .CodeSecretImage }}" />
          </p>
          <p>
              Also, if somehow you loose access to your one-time password provider,
              you must use the following recovery code:
          </p>
          <p class="attention-points">
              <span class="recovery-code">{{ range $element := .RecoveryCode }}
                <span class="piece">{{ $element }}</span>{{ end }}
              </span>
          </p>
          <p>You can <a href="/">proceed to the home page</a> now.</p>
        </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/public/css/{{ .Satellite }}.css">
{{ end }}

{{define "front"}}{{end}}{{define "tail"}}{{end}}
