<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="charset", content="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  {{template "head"}}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500">
  <link rel="stylesheet" href="/public/vendor/foundation/css/normalize.min.css">
  <link rel="stylesheet" href="/public/vendor/foundation/css/foundation.min.css">
  <link rel="stylesheet" href="/public/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/base.css">
  <title>Space{{template "title"}}</title>
</head>
<body>
  {{template "front"}}
  <div role="main">
    <header class="site-header row">
      <div class="large-12 columns">
        <h1 class="branding"><a href="/">Space</a></h1>
      </div>
    </header>
    {{ yield }}
    <footer class="site-footer row">
      <div class="medium-6 columns">
        <p>&copy; 2016 {{template "company"}}. All rights reserved</p>
      </div>
      <div class="medium-6 columns">
        <ul class="inline-list align-right">
          <li><a href="" rel="external">About</a></li>
        </ul>
      </div>
    </footer>
  </div>
  {{template "tail"}}
</body>
</html>
