{{ define "content" }}
<div class="centered-message">
  <div class="row">
    <div class="medium-8 medium-offset-2 end columns">
      <h2>Congrats!</h2>
      <p>You've just created a new account! If our sign up system is open, you will receive an email message in order
      to activate your newly created account. Otherwise, we will contact you when your account is ready to be activated.</p>
      <p>Thank you for your interest in joining us!</p>
      <p>Kindly,</p>
      <p>The QuatroLabs Team.</p>
    </div>
  </div>
</div>
{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/public/css/{{ .Satellite }}.css">
{{ end }}

{{define "front"}}{{end}}{{define "tail"}}{{end}}
