/* override jupiter's defaults */
body {
  background: #fafafa !important;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 0 36px;
}
form:invalid button[type=submit],
form:invalid input[type=submit] {
  pointer-events: none;
  opacity: 0.5;
}
