.layout-root {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-radius: 48px;
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.layout-root__menu-container {
  flex: 1;
  border-right: 1px solid #f3f7f8;
}

.layout-root__corpus-container {
  position: relative;
  flex: 4;
  padding: 40px 42px;
}

.layout-root__corpus-container.loading {
  display: flex;
}

.layout-root__corpus-container > h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fafafa;
}
