.signup-content {
  position: relative;
  padding: 70px 0;
  background: #fff;
  color: #323232;

  .title {
    font-weight: 300;
    font-size: 2.2rem;
  }

  .description {
    text-align: right;
  }

  .form-sign-up {
    position: relative;

    .error-message {
      position: absolute;
      top: -60px;
      width: 100%;
      text-align: center;
      padding: 8px 10px;
      border: 1px solid rgba(255, 0, 0, 0.25);
      border-radius: 2px;
      color: rgba(255, 0, 0, 0.5);
    }
  }
}
.attention-points {
  text-align: center;
}
.recovery-code {
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);

  .piece {
    display: inline-block;

    & ~ .piece {
      &:before {
        content: "-";
        padding: 0 2px;
        display: inline-block;
      }
    }
  }
}

.password-visibility {
  position: relative;

  .visibility-toggle {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    right: -40px;
    background: transparent;
    border: 0;
    padding: 4px 0 2px;
    box-shadow: none;
  }
}
