.signup-content {
  position: relative;
  padding: 70px 0;
  background: #fff;
  color: #323232;

  .title {
    font-weight: 300;
    font-size: 2.2rem;
  }

  .description {
    text-align: right;
  }
}
.attention-points {
  text-align: center;
}
.recovery-code {
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);

  .piece {
    display: inline-block;

    & ~ .piece {
      &:before {
        content: "-";
        padding: 0 2px;
        display: inline-block;
      }
    }
  }
}

.password-visibility {
  position: relative;

  .visibility-toggle {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    right: -40px;
    background: transparent;
    border: 0;
    padding: 4px 0 2px;
    box-shadow: none;
  }
}
