<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width" /></head>
<body>
  <table style="height:100%;width:100%;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;font-size:16px;line-height:19px;" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td colspan="2" align="center" valign="top" style="padding:20px 40px;width:100%;border:1px solid #f3f3f3;text-align:center;">
        <h1>
          <img style="border:0;margin:0;padding:0;" width="200" height="100" src="http://cdn.quatrolabs.com/space-logo@2x.png" alt="Space" />
        </h1>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center" valign="top" style="background:#f3f3f3;padding:20px 40px 0;width:100%;text-align:center;">
        <div style="text-align:left;">
          {{ template "content" . }}
        </div>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="background:#f3f3f3;padding:40px 0 40px 40px;width:75%;text-align:center;">
        <div style="text-align:left;">
          <p style="padding:0;margin:16px 0;">Copyright &copy; {{ .Year }} quatroLABS.</p>
          <p style="padding:0;margin:16px 0;">Space is a user authentication system designed to be as secure and confidential as possible.</p>
          <p style="padding:0;margin:16px 0;font-size:0.8rem;">Get only the emails you care about &mdash; <a href="{{ .NotificationsLink }}">manage your notifications</a>.</p>
        </div>
      </td>
      <td align="center" valign="middle" style="background:#f3f3f3;padding:40px;width:25%;text-align:center;">
        <div style="text-align:center;">
          <img style="border:0;margin:0;padding:0;" width="140" height="140" src="http://cdn.quatrolabs.com/quatrolabs-logo-small@2x.png" alt="quatroLABS" />
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
